{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block container %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur culpa delectus
            dolorum eaque facere in ipsa laborum magni optio, perspiciatis quo ratione sunt tempore voluptate
            voluptatem! Error iure magnam odio.</p>
    </div>
</div>
{% endblock %}